Repository gerardrbentley/vgac-webservices: changes, and which GitLab CI jobs are due for each by the changed paths.
All: reverse_proxy, vgac_dbapi, db_manager, expert, single, net_update

Path conditions:
  reverse_proxy: any of: nginx_config/**/*, Dockerfile-faim-nginx, static/**/*
  vgac_dbapi: any of: dbapi/**/*
  db_manager: any of: db_manager/**/*
  expert: any of: expert/**/*
  single: any of: single_tile_tagging/**/*
  net_update: any of: static/**/*, nginx_config/**/*

nginx conf for error handling and root index
  nginx_config/default.conf
  static/html/500.html
Due: reverse_proxy, net_update

Update README.md for local dev
  README.md
Due: none

dbapi logging started, refactor insertion
  dbapi/vgac_db.py
Due: vgac_dbapi

Setup for postman api documentation copy
  dbapi/Dockerfile-dbapi
  dbapi/api_documentation.html
  dbapi/vgac_db.py
Due: vgac_dbapi

api documentation, tile insert successfuly async
  dbapi/Dockerfile-dbapi
  dbapi/api_documentation.html
  dbapi/vgac_db.py
  static/html/dbapi_documentation.html
Due: reverse_proxy, vgac_dbapi, net_update

Working unittest request on klein app
  dbapi/__init__.py
  dbapi/test/__init__.py
  dbapi/test/test_dbapi_1.py
  dbapi/vgac_db.py
  static/html/dbapi_documentation.html
Due: reverse_proxy, vgac_dbapi, net_update

api refactor
  dbapi/vgac_db.py
  expert/expert_tagging.py
  static/html/dbapi_documentation.html
Due: reverse_proxy, vgac_dbapi, expert, net_update

new host / ssh target
  .gitlab-ci.yml
Due: none

redirect webservices dir on vgac.cs.pom
  .gitlab-ci.yml
Due: none

docker login not working ci
  .gitlab-ci.yml
Due: none

using ci registry pword
  .gitlab-ci.yml
Due: none

back to gitlab-ci-token, check docker version
  .gitlab-ci.yml
Due: none

personal variable deploy token
  .gitlab-ci.yml
Due: none

using dockerhub workaround
  .gitlab-ci.yml
Due: none

user/pass auth
  .gitlab-ci.yml
Due: none

hardcode index.docker.io
  .gitlab-ci.yml
Due: none

no v1 with auth base64
  .gitlab-ci.yml
Due: none

last try, revert to https
  .gitlab-ci.yml
Due: none

reinstate services in ci/cd
  .gitlab-ci.yml
Due: none

fix single-tile api endpoint
  README.md
  nginx_config/default.conf
  single_tile_tagging/single_tile.py
  test/postman_environments/production.postman_environment.json
  test/postman_environments/staging.postman_environment.json
Due: reverse_proxy, single, net_update

pull single tile image in deploy
  .gitlab-ci.yml
Due: none

Single tile tagging api
  .gitlab-ci.yml
  README.md
  nginx_config/default.conf
  single_tile_tagging/single_tile.py
  test/postman_environments/production.postman_environment.json
  test/postman_environments/staging.postman_environment.json
Due: reverse_proxy, single, net_update

first_time_live
  static/css/single-tile1.css
  static/html/single-tile1.html
  static/images/example.png
  static/images/fml1.png
  static/images/stt1.0.png
  static/images/stt1.png
  static/images/stt3.png
  static/images/sttc.png
  static/js/single-tile1.js
Due: reverse_proxy, net_update

type in csv
  test/testdata/loz/tiles/tile_affordances.csv
  test/testdata/sm3/tiles/tile_affordances.csv
Due: none

update js and css links
  static/html/single-tile1.html
Due: reverse_proxy, net_update

Master
  .DS_Store
  README.md
  single_tile_tagging/.DS_Store
  single_tile_tagging/base.html
  single_tile_tagging/css/style.css
  single_tile_tagging/example.png
  single_tile_tagging/example_data.json
  single_tile_tagging/js/.DS_Store
  single_tile_tagging/js/jquery-3.4.1.js
  single_tile_tagging/js/pr1
  single_tile_tagging/js/scripts.js
  single_tile_tagging/js/single_tile_taggn.code-workspace
  single_tile_tagging/js/testscript.js
  single_tile_tagging/logo_single_tile_tagging.jpg
  single_tile_tagging/logo_single_tile_tagging1.png
  single_tile_tagging/screenshot.png
  single_tile_tagging/single_tile_tagging2.png
  single_tile_tagging/single_tile_tagging3.png
  single_tile_tagging/stt1.0.png
  single_tile_tagging/stt1.png
  static/css/single-tile1.css
  static/html/single-tile1.html
  static/images/example.png
  static/images/fml1.png
  static/images/stt1.0.png
  static/images/stt1.png
  static/images/stt3.png
  static/images/sttc.png
  static/js/single-tile1.js
  test/testdata/loz/tiles/tile_affordances.csv
  test/testdata/sm3/tiles/tile_affordances.csv
Due: reverse_proxy, single, net_update

add update tile
  static/html/single-tile1.html
  static/js/single-tile1.js
Due: reverse_proxy, net_update

add image links
  static/html/single-tile1.html
Due: reverse_proxy, net_update

move from tiles to textures
  README.md
  db_manager/db_manager.py
  dbapi/vgac_db.py
  expert/expert_tagging.py
  static/js/expert.js
  test/testdata/loz/textures/0a1a1e34-e222-4f31-b4ce-4ff2f6a435d7.png
  test/testdata/loz/textures/0b4402c2-d6ff-4ac3-88c9-89179e313298.png
  test/testdata/loz/textures/texture_affordances.csv
  test/testdata/loz/tiles/tile_affordances.csv
  test/testdata/sm3/textures/fedb87e3-755c-4f8b-a7e5-6bd28b606f53.png
  test/testdata/sm3/textures/ff73b5f2-fd73-443d-8e42-33fd20501504.png
  test/testdata/sm3/textures/ffa03f97-8581-4d79-9049-90b975c9744f.png
  test/testdata/sm3/textures/texture_affordances.csv
  test/testdata/sm3/tiles/tile_affordances.csv
Due: reverse_proxy, vgac_dbapi, db_manager, expert, net_update

setup for ssl
  Dockerfile-faim-nginx
  docker-compose.yml
  nginx_config/default.conf
  nginx_config/ssl.conf
Due: reverse_proxy, net_update

add certs dir binding in ci/cd
  .gitlab-ci.yml
  docker-compose.staging.yml
Due: none

http not https in docker containers. look into
  nginx_config/default.conf
Due: reverse_proxy, net_update

dir typo in staging compose
  docker-compose.staging.yml
Due: none

/static/staging volume instead of container
  .gitlab-ci.yml
  Dockerfile-faim-nginx
  docker-compose.staging.yml
  docker-compose.yml
  nginx_config/default.conf
Due: reverse_proxy, net_update

typo in ci/cd
  .gitlab-ci.yml
Due: none

scp -r static/* to not copy directory
  .gitlab-ci.yml
Due: none

local dev instructions and certs added
  .env
  README.md
  docker-compose.dev.yml
  docker-compose.staging.yml
  docker-compose.yml
  nginx_config/ssl.conf
  test/dhparam.pem
  test/domain.crt
  test/domain.rsa
Due: reverse_proxy, net_update

Master
  .env
  README.md
  db_manager/db_manager.py
  dbapi/vgac_db.py
  docker-compose.dev.yml
  docker-compose.staging.yml
  docker-compose.yml
  expert/expert_tagging.py
  nginx_config/ssl.conf
  static/html/expert.html
  static/html/index.html
  static/html/vgac.html
  static/images/expert_tagger.png
  static/images/single_tagger.png
  static/images/skyline-bground.jpeg
  static/images/vgac_prediction.png
  static/js/expert.js
  test/dhparam.pem
  test/domain.crt
  test/domain.rsa
  test/testdata/loz/textures/0a1a1e34-e222-4f31-b4ce-4ff2f6a435d7.png
  test/testdata/loz/textures/0b4402c2-d6ff-4ac3-88c9-89179e313298.png
  test/testdata/loz/textures/texture_affordances.csv
  test/testdata/loz/tiles/tile_affordances.csv
  test/testdata/sm3/textures/fedb87e3-755c-4f8b-a7e5-6bd28b606f53.png
  test/testdata/sm3/textures/ff73b5f2-fd73-443d-8e42-33fd20501504.png
  test/testdata/sm3/textures/ffa03f97-8581-4d79-9049-90b975c9744f.png
  test/testdata/sm3/textures/texture_affordances.csv
  test/testdata/sm3/tiles/tile_affordances.csv
Due: reverse_proxy, vgac_dbapi, db_manager, expert, net_update
