Repository gerardrbentley/vgac-webservices: changes, and which GitLab CI jobs are due for each by the changed paths.
All: reverse_proxy, vgac_dbapi, db_manager, expert, single

reverse_proxy:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - pwd
  - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$GERARD_DOCKER_AUTH\"}}}" > /kaniko/.docker/config.json
  ...

vgac_dbapi:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - cd dbapi
  - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$GERARD_DOCKER_AUTH\"}}}" > /kaniko/.docker/config.json
  ...

db_manager:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - cd db_manager
  - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$GERARD_DOCKER_AUTH\"}}}" > /kaniko/.docker/config.json
  ...

expert:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - cd expert
  - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$GERARD_DOCKER_AUTH\"}}}" > /kaniko/.docker/config.json
  ...

single:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - cd single_tile_tagging
  - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$GERARD_DOCKER_AUTH\"}}}" > /kaniko/.docker/config.json
  ...

index page for projects
  static/html/expert.html
  static/html/index.html
  static/html/vgac.html
  static/images/expert_tagger.png
  static/images/single_tagger.png
  static/images/skyline-bground.jpeg
  static/images/vgac_prediction.png
Due: reverse_proxy

segmentation example skeleton and pynotebook
  static/html/game_segmentation.html
  static/images/segmentation_example.png
Due: reverse_proxy

segmentation python notebook page
  static/html/game_segmentation.html
  static/images/github-icon-black.png
  static/images/github-icon-white.png
  static/images/github-logo-black.png
  static/images/github-logo-white.png
  static/images/gitlab-icon-white.png
  static/images/gitlab-logo-black.png
  static/images/gitlab-logo-white.png
Due: reverse_proxy

game segmentation to index
  static/html/index.html
  static/images/crf_overfit.png
Due: reverse_proxy

revert to gitlab docker registry
  .gitlab-ci.yml
Due: none

simplify gitlab ci
  .gitlab-ci.yml
Due: none

typo from copy pasting
  .gitlab-ci.yml
Due: none

fix docker compose env variables in ci/cd
  .gitlab-ci.yml
  single_tile_tagging/single_tile.py
Due: single

Simplify ci/cd
  .gitlab-ci.yml
  single_tile_tagging/single_tile.py
Due: single

add tag to proxy image
  .gitlab-ci.yml
Due: none

compose env
  .gitlab-ci.yml
Due: none

inline env call
  .gitlab-ci.yml
Due: none

explicit docker tags. try to fetch from docker.io...
  .gitlab-ci.yml
Due: none

Master
  .gitlab-ci.yml
Due: none

Single line to multi line bash?
  .gitlab-ci.yml
Due: none

ACtual fix docker compose env
  .gitlab-ci.yml
Due: none

scale and 3 states of affordance
  static/css/single-tile1.css
  static/html/single-tile1.html
  static/js/single-tile1.js
Due: reverse_proxy

Latest version of expert tile tagging
  .DS_Store
  nginx_config/default.conf
  single_tile_tagging/css/single-tile1.css
  static/.DS_Store
  static/css/style.css
  static/html/expert.html
  static/images/.DS_Store
  static/images/expert_background_final.png
  static/images/screen_example.png
  static/js/.DS_Store
  static/js/expert.js
  static/js/single-tile1.js
  static/libraries/fabric.js
Due: reverse_proxy, single

Updated TODO list
  .DS_Store
  static/.DS_Store
  static/js/expert.js
  static/txt/todo list
Due: reverse_proxy

Done with css + html
  .DS_Store
  static/.DS_Store
  static/css/style.css
  static/html/expert.html
  static/images/expert_background_final_1.jpg
  static/js/expert.js
  static/support script/px_to_percent.cpp
  static/txt/todo list
  test/.DS_Store
Due: reverse_proxy

latest version, webpage done
  static/css/style.css
  static/example_data.json
  static/html/expert.html
  static/js/expert.js
  static/txt/todo list
  test/testdata/.DS_Store
  test/testdata/loz/.DS_Store
  test/testdata/loz/screenshots/.DS_Store
  test/testdata/sm3/.DS_Store
  test/testdata/sm3/screenshots/.DS_Store
Due: reverse_proxy

Path conditions:
  reverse_proxy: any of: nginx_config/**/*, Dockerfile-faim-nginx, static/**/*
  vgac_dbapi: any of: dbapi/**/*
  db_manager: any of: db_manager/**/*
  expert: any of: expert/**/*
  single: any of: single_tile_tagging/**/*
